.status-bar {
  background-color: #333333;
  color: #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 20px;
}
.status-bar div {
  margin: 0px 50px;
  font-size: 15px;
  font-weight: 400;
}
.status-bar a {
  text-decoration: none;
  color: #d6d6d6;
}
